@page
@model Basket

@{
  ViewData["Title"] = "Basket";
}

@if (Model.Order == null)
{
  <div class="alert alert-info" role="alert">
    You don't have any products in your basket.
  </div>
}
else
{
  if (Model.Order.Restaurant != null)
  {
    @await Html.PartialAsync("_RestaurantPartial", Model.Order.Restaurant)
  }
  @await Html.PartialAsync("_ProductsPartial", Tuple.Create(Model.Order.Products, true))
  @await Html.PartialAsync("_CouponsPartial", Tuple.Create(Model.Order.Coupons, true))

  <div class="row">
    <div class="col-md-4">
      <form method="post" class="form-inline">
        @Html.LabelFor(x => x.CouponCode)
        <div class="input-group">
          @Html.TextBoxFor(x => x.CouponCode, new { @class = "form-control", style = "max-width: 200px;" })
          @Html.ValidationMessageFor(x => x.CouponCode, null, new { @class = "text-danger" })
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </form>
    </div>
  </div>

  <p class="mt-4 fw-bold">Total price: @Model.Order.TotalPrice.Amount @Model.Order.TotalPrice.Currency.Name</p>

  <a asp-page="/Payment/Checkout" class="btn btn-success">Checkout</a>
}
