@page
@using FoodDelivery.DAL.EntityFramework.Models
@model FoodDelivery.FE.Pages.Payment.Checkout

@{
  ViewData["Title"] = "Checkout";
}

@if (Model.Order.TotalPrice.Amount == 0)
{
  <div class="alert alert-success" role="alert">
    Your order is free!
  </div>
  <form method="post">
    <button type="submit" class="btn btn-success">Submit order</button>
  </form>
}
else
{
  if (ModelState["PaymentError"] != null)
  {
    <div class="alert alert-danger" role="alert">
      @ModelState["PaymentError"]!.Errors[0].ErrorMessage
    </div>
  }

  <p class="fw-bold">Total price: @Model.Order.TotalPrice.Amount @Model.Order.TotalPrice.Currency.Name</p>

  <form method="post">
    @Html.LabelFor(x => x.PaymentMethod)
    @Html.DropDownList("PaymentMethod",
      Html.GetEnumSelectList<PaymentMethod>().Where(i => i.Text != "Free"), new { @class = "form-control" })

    <button type="submit" class="btn btn-success mt-4">Submit order</button>
  </form>
}
