@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<List<FoodDelivery.BL.DTOs.Coupon.CouponLocalizedGetDto>, bool>

@{
  var deletable = Model.Item2;
}

<h2>Coupons:</h2>

<table class="table">
  <thead>
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Item1[0].Code)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Item1[0].Discount)
    </th>
    @if (deletable)
    {
      <th>
        Actions
      </th>
    }
  </tr>
  </thead>
  <tbody>
  @foreach (var item in Model.Item1)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Code)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Discount.Amount)
        @Html.DisplayFor(modelItem => item.Discount.Currency.Name)
      </td>
      @if (deletable)
      {
        <td>
          <form method="post">
            <button type="submit" class="btn btn-danger" asp-page="/Payment/DeleteCoupon" asp-route-couponId="@item.Id" asp-route-returnUrl="@Context.Request.GetDisplayUrl()">
              ✕
            </button>
          </form>
        </td>
      }
    </tr>
  }
  </tbody>
</table>
