@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<List<FoodDelivery.BL.DTOs.Product.ProductLocalizedGetDto>, bool>

@{
  var deletable = Model.Item2;
}

<h2>Items:</h2>

<table class="table">
  <thead>
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Item1[0].ImageUrl)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Item1[0].Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Item1[0].Quantity)
    </th>    
    <th>
      @Html.DisplayNameFor(model => model.Item1[0].PricePerEach)
    </th>    
    <th>
      @Html.DisplayNameFor(model => model.Item1[0].TotalPrice)
    </th>
    @if (deletable)
    {
      <th>
        Actions
      </th>
    }
  </tr>
  </thead>
  <tbody>
  @foreach (var item in Model.Item1)
  {
    <tr>
      <td>
        <img src="@item.ImageUrl" alt="@item.Name" width="100"/>
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>     
      <td>
        @Html.DisplayFor(modelItem => item.Quantity)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.PricePerEach.Amount)
        @Html.DisplayFor(modelItem => item.PricePerEach.Currency.Name)
      </td>      
      <td>
        @Html.DisplayFor(modelItem => item.TotalPrice.Amount)
        @Html.DisplayFor(modelItem => item.TotalPrice.Currency.Name)
      </td>
      @if (deletable)
      {
        <td>
          <form method="post">
            <button type="submit" class="btn btn-danger" asp-page="/Payment/DeleteProduct" asp-route-productId="@item.Id" asp-route-returnUrl="@Context.Request.GetDisplayUrl()">
              ✕
            </button>
          </form>
        </td>
      }
    </tr>
  }
  </tbody>
</table>
