@page
@model ProductList

@{
  ViewData["Title"] = "Products";
}

<h2>@Model.Restaurant.Name</h2>
<p>Delivery price: @Model.DeliveryPrice.Amount @Model.DeliveryPrice.Currency.Name</p>

<form method="post">
  <button type="button" class="btn btn-primary mt-2" >
    <a class="text-dark" style="text-decoration:none" asp-page="/Forms/AddRestaurant" asp-route-restaurantId=@Model.Restaurant.Id>Edit Restaurant</a>
  </button>
</form>
<form method="post" asp-page-handler="DeleteRestaurant" asp-route-restaurantId="@Model.Restaurant.Id">
  <button type="submit" class="btn btn-primary mt-2">Delete Restaurant</button>
</form>
<form method="post">
  <button type="button" class="btn btn-primary mt-2" >
    <a class="text-dark" style="text-decoration:none" asp-page="/Forms/EditProduct" asp-route-productId="" asp-route-restaurantId=@Model.Restaurant.Id>Add Menu Item</a>
  </button>
</form>

<ul>
  @foreach (var product in Model.Products)
  {
    <li>
      @if (User.IsInRole("Customer"))
      {
        <form method="post">
          <p>@product.Name</p>
          <p>@product.Price.Amount @product.Price.Currency.Name</p>
          <input type="hidden" name="productId" value="@product.Id">
          <input type="hidden" name="restaurantId" value="@product.Restaurant.Id">
          <input type="submit" value="Add to cart"/>
        </form>
      }
      else if (User.IsInRole("ContentManager"))
      {
        <p>@product.Name</p>
        <p>@product.Price.Amount @product.Price.Currency.Name</p>
        <form method="post">
          <button type="button" class="btn btn-primary mt-2" >
                <a class="text-dark" style="text-decoration:none" asp-page="/Forms/EditProduct" asp-route-productId="@product.Id"  asp-route-restaurantId=@Model.Restaurant.Id>Edit</a>
          </button>
        </form> 
        <form method="post" asp-page-handler="DeleteProduct" asp-route-productId="@product.Id" asp-route-restaurantId="@product.Restaurant.Id">
          <button type="submit" class="btn btn-primary mt-2">Delete</button>
        </form>
      }
    </li>
  }
</ul>
