@page
@model ProductList

@{
  ViewData["Title"] = "Products";
}

@if(Model.ErrorMessage != null)
{
  <div class="alert alert-danger" role="alert">
    @Model.ErrorMessage
  </div>
}
<h2>@Model.Restaurant.Name</h2>
<h6>Delivery prices</h6>
@foreach(var price in Model.DeliveryPrices)
{
  <p>@price.Amount @price.Currency.Name</p>
}

<ul>
  @foreach (var product in Model.Products)
  {
    <li>
      <form method="post">
        <p>@product.Name</p>
        <p>@product.PricePerEach.Amount @product.PricePerEach.Currency.Name</p>
        <input type="hidden" name="productId" value="@product.Id">
        <input type="hidden" name="restaurantId" value="@product.Restaurant.Id">
        <input type="submit" value="Add to cart"/>
      </form>
    </li>
  }
</ul>
