@page
@model IndexModel

@{
  ViewData["Title"] = "My orders";
}

<h1>My orders</h1>

<table class="table">
  <thead>
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Orders[0].Id)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Orders[0].CreatedAt)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Orders[0].PaymentMethod)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Orders[0].Status)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Orders[0].TotalPrice)
    </th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var item in Model.Orders)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Id)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.CreatedAt)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.PaymentMethod)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Status)
      </td>
      <td>
        @item.TotalPrice.Amount @item.TotalPrice.Currency.Name
      </td>
      <td>
        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
        <form method="post" style="display: inline;">
          <button type="submit" class="btn btn-primary" asp-route-id="@item.Id" title="Download as PDF">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" color="white" style="width: 12px;">
              <path fill="currentColor" d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/>
            </svg>
          </button>
        </form>
      </td>
    </tr>
  }
  </tbody>
</table>
